body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1 {
    font-size: 250px;
    background: linear-gradient(
        90deg,
        #ff0000 0%,
        #ff7f00 16%,
        #ffff00 33%,
        #00ff00 50%,
        #0000ff 66%,
        #8b00ff 83%,
        #ff0000 100%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: wave 4s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}